.topbar {
    display: flex;
    justify-content: flex-end;
    height: 10px;
}

.topbar button {
    height: 15px;
    width: 30px;
    background-color: rgb(214, 52, 52);
    border: none;
    cursor: pointer;
}